::ng-deep {
    body {
        margin: 0;
        background: #161616;
        color: white;
    }
    svg text {
        user-select: none;
        font-size: 13px;
        fill: rgb(170, 170, 170);
    }

    circle {
        cursor: pointer;
    }
}
td {
    font-size: 14px;
}
h1 {
    font-size: 22px;
    margin-bottom: 12px;
}
input {
    background: #ffffff1f;
    color: white;
    padding: 2px 6px;
    border: 0;
    height: 22px;
    width: 80%;
    margin-top: 4px;
}
table {
    grid-column: 1/3;
    width: 100%;

    background: #242629;
    padding: 12px;
    th {
        font-weight: normal;
    }
    tr {
        td {
            // opacity: 0.6;
        }

        td:first-child {
            width: 120px;
        }
        // td:nth-child(2),
        // td:nth-child(3),
        // td:nth-child(4) {
        //     width: 20%;
        //     text-align: right;
        // }
    }
    .highlight td {
        // opacity: 1;
        // font-weight: bold;
    }
}

table.results {
    grid-column: 1/3;
    width: 100%;

    background: #242629;
    padding: 16px;
    th {
        font-weight: normal;
    }
    tr {
        td {
            // opacity: 0.6;
        }

        td:first-child {
            width: 40%;
        }
        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
            width: 20%;
            text-align: right;
        }
    }
    .highlight td {
        // opacity: 1;
        // font-weight: bold;
    }
}

li {
    list-style: none;
}

main,
header {
    padding: 0 32px;
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 12px;
    width: calc(100% - 12px);
    box-sizing: border-box;
}
ul {
    padding: 0;
    // margin: 12px 0 0 0;
    label {
        width: 100%;
        display: inline-block;
        font-size: 14px;
    }
    li {
        position: relative;
        height: 22px;
        float: left;
        width: calc(100% / 4 - 6px);
        input {
            background: #ffffff1f;
            color: white;
            padding: 2px 6px;
            border: 0;
            height: 22px;
            width: 80%;
            margin-top: 4px;
        }
    }
}

app-line-drag {
    position: relative;
}
