<header>
    <h1>Asset Risk</h1>
</header>
<main>
    <table>
        <tr>
            <th colspan="4"></th>
            <th colspan="2">Media Adjustment</th>
            <th colspan="2">Demand Adjustment</th>
            <th colspan="1"></th>
        </tr>
        <tr>
            <th></th>
            <th>CI</th>
            <th>Alpha</th>
            <th>Beta</th>
            <th>Value</th>
            <th>Range</th>
            <th>Value</th>
            <th>Range</th>
            <th>Covarience</th>
        </tr>
        <tr>
            <td>Brand A</td>
            <td><input type="text" [(ngModel)]="brandA.ci" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandA.alpha.sales" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandA.beta.sales" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandA.media.value" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandA.media.range" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandA.demand.value" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandA.demand.range" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="covariance" (change)='runModel()'></td>
        </tr>
        <tr>
            <td>Brand B</td>
            <td><input type="text" [(ngModel)]="brandB.ci" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandB.alpha.sales" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandB.beta.sales" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandB.media.value" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandB.media.range" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandB.demand.value" (change)='runModel()'></td>
            <td><input type="text" [(ngModel)]="brandB.demand.range" (change)='runModel()'></td>
            <td></td>
        </tr>
    </table>
    <app-line-drag [config]="brandA" [y]="brandA.y" [chartId]="'chartA'" [changing]="changing"
        (voted)="chartChange($event)">
    </app-line-drag>
    <app-line-drag [config]="brandB" [y]="brandB.y" [chartId]="'chartB'" [changing]="changing"
        (voted)="chartChange($event)">
    </app-line-drag>

    <table class="results">
        <tr>
            <th></th>
            <th>Brand A</th>
            <th>Brand B</th>
            <th>Portfolio</th>
        </tr>
        <tr class="highlight">
            <td>Investment £k (Input)</td>
            <td>{{brandA.investment | number:'1.2-2'}}</td>
            <td>{{brandB.investment | number:'1.2-2'}}</td>
            <td>{{sum.investment | number:'1.2-2'}}</td>
            <td></td>
        </tr>
        <tr class="highlight">
            <td>Inc Sales £k</td>
            <td>{{brandA.table[0] | number:'1.2-2'}}</td>
            <td>{{brandB.table[0] | number:'1.2-2'}}</td>
            <td>{{sum.table[0] | number:'1.2-2'}}</td>
        </tr>
        <tr class="highlight">
            <td>Inc Net Sales £k (Inc Sales - Investment)</td>
            <td>{{brandA.table[1] | number:'1.2-2'}}</td>
            <td>{{brandB.table[1] | number:'1.2-2'}}</td>
            <td>{{sum.table[1] | number:'1.2-2'}}</td>
        </tr>
        <tr class="highlight">
            <td>RROI</td>
            <td>{{brandA.table[2] | number:'1.2-2'}}</td>
            <td>{{brandB.table[2] | number:'1.2-2'}}</td>
            <td>{{sum.table[2] | number:'1.2-2'}}</td>
        </tr>
        <tr class="highlight">
            <td>Net RROI</td>
            <td>{{brandA.table[3] | number:'1.2-2'}}</td>
            <td>{{brandB.table[3] | number:'1.2-2'}}</td>
            <td>{{sum.table[3] | number:'1.2-2'}}</td>
        </tr>
        <tr class="highlight">
            <td>Uncertainty</td>
            <td>{{brandA.table[4] | number:'1.2-2'}}</td>
            <td>{{brandB.table[4] | number:'1.2-2'}}</td>
            <td>{{sum.table[4] | number:'1.2-2'}}</td>
        </tr>
        <!-- <tr>
            <td>Uncertainty / Investment</td>
            <td>{{brandA.table[5] | number:'1.2-2' }}</td>
            <td>{{brandB.table[5] | number:'1.2-2' }}</td>
            <td>{{sum.table[5] | number:'1.2-2' }}</td>
        </tr>
        <tr>
            <td>Inc Sales / Uncertainty</td>
            <td>{{brandA.table[6] | number:'1.2-2' }}</td>
            <td>{{brandB.table[6] | number:'1.2-2' }}</td>
            <td>{{sum.table[6] | number:'1.2-2' }}</td>
        </tr> -->
        <tr class="highlight">
            <td>Inc Net Sales / Uncertainty</td>
            <td>{{brandA.table[7] | number:'1.2-2' }}</td>
            <td>{{brandB.table[7] | number:'1.2-2' }}</td>
            <td>{{sum.table[7] | number:'1.2-2' }}</td>
        </tr>
        <!-- <tr>
            <td>Inc Net Sales / Uncertainty / Investment (x100)</td>
            <td>{{brandA.table[8] | number:'1.2-2' }}</td>
            <td>{{brandB.table[8] | number:'1.2-2' }}</td>
            <td>{{sum.table[8] | number:'1.2-2' }}</td>
        </tr>
        <tr>
            <td>RROI / Uncertainty</td>
            <td>{{brandA.table[9] | number:'1.2-2' }}</td>
            <td>{{brandB.table[9] | number:'1.2-2' }}</td>
            <td>{{sum.table[9] | number:'1.2-2' }}</td>
        </tr>
        <tr>
            <td>Net RROI/Uncertainty</td>
            <td>{{brandA.table[10] | number:'1.2-2' }}</td>
            <td>{{brandB.table[10] | number:'1.2-2' }}</td>
            <td>{{sum.table[10] | number:'1.2-2' }}</td>
        </tr> -->
    </table>
</main>