.vertical-slider {
    display: inline-block;
    width: 120px;
    height: 184px;
    background: #3f4043;
    position: relative;
}
.slider-line {
    display: inline-block;
    width: 2px;
    height: 120px;
    background: #e4dfd3;
    position: absolute;
    left: 48px;
    top: 16px;
}
.handle-container {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 120px;
    left: 24px;
    top: 16px;
    cursor: pointer;
}
.slider-handle {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: #2e86de;
    border-radius: 12px;
    position: absolute;
    right: 4px;
    pointer-events: none;

    &:after {
        top: 0;
        width: 24px;
        content: "";
        display: inline-block;
        height: 24px;
        /* background: #2e86de; */
        /* transform: rotate(45deg); */
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #2e86de;
        position: absolute;
        right: -4px;
    }
}
.test {
    display: inline-block;
    height: 140px;
    width: 140px;
    background: #2e86de;
}
.handle-container {
    position: relative;
}
