<div class="vertical-slider">

    <div class="slider-line"></div>
    <div class="handle-container" (mousemove)="moveSlider($event)" (mousedown)="startSlide()" (mouseup)="endSlide()"
        (mouseout)="endSlide()">
        <div [ngStyle]="{'top': (handlePosition + 'px')}" class="slider-handle">
        </div>
    </div>

</div>
<!-- {{handlePosition}} -->

<div class="test" (mousemove)="moveSlider($event)"></div>