::ng-deep {
    .line {
        fill: none;
        stroke-width: 2px;
    }
    .sales-line {
        stroke: #54a0ff;
    }
}
.chart-container {
    background: #242629;
    padding: 12px;
}

h2 {
    position: absolute;
    left: 22px;
    top: 0;
    font-size: 16px;
}
.chart-container:before {
    content: "Sales (£1,000)";
    position: absolute;
    transform: rotate(-90deg);
    left: -14px;
    font-size: 14px;
    top: 50%;
}
.chart-container:after {
    content: "Media (£1,000)";
    position: absolute;
    bottom: 42px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
}
::ng-deep {
    .area.low {
        fill: #01a3a4;
        opacity: 0.55;
    }
    .area.high {
        fill: #01a3a4;
        opacity: 0.55;
    }
    .morph-line {
        stroke: #01a3a4;
    }
    ul.legend {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: auto;
        height: 28px;
        padding-left: 17px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        padding-top: 4px;
        li {
            margin-right: 16px;
            padding-right: 18px;
            position: relative;
        }
    }

    li {
        float: left;
        font-size: 12px;
    }

    .legend .marker.line {
        display: inline-block;
        height: 2px;
        width: 12px;
        position: absolute;
        top: 7px;
        right: 0;
    }
    .legend .marker.circle {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        position: absolute;
        top: 1px;
        right: 0;
    }
    .legend .marker.square {
        display: inline-block;
        height: 12px;
        width: 12px;
        // border-radius: 6px;
        position: absolute;
        top: 1px;
        right: 0;
    }
}
