<h2>{{title}}</h2>
<div class='chart-container' id="{{chartId}}"></div>
<ul class="legend">
    <li>Sales <span class="marker line" style="background: #54a0ff;"></span></li>
    <li>Predicted Window <span class="marker circle" style="background: #2e86de;"></span></li>
    <li>Predicted Sales <span class="marker line" style="background: #01a3a4;"></span></li>
    <li>Spend Adjustment <span class="marker square" style="background: #01a3a4;opacity:0.55"></span></li>
</ul>